.navigation__items {
  background-color: var(--primary-gold);
  display: flex;
  inline-size: 100%;
}

.navigation__item {
  background-color: var(--primary-gold);
  inline-size: 200px;
  position: relative;
}

.navigation__menu-trigger {
  background-color: var(--primary-gold);
  padding: 20px;
}

.navigation__menu {
  background-color: #fff;
  block-size: 100px;
  border: 1px solid var(--primary-gold);
  inline-size: 300px;
  inset-block-start: 100%;
  padding: 20px;
  position: absolute;
  z-index: -1;
}

//side navigation
.sidenav {
  align-items: center;
  background-color: var(--verndale-black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding-inline-start: 20px;
  position: relative;

  .navigation__menu {
    block-size: 100vh;
    border: 1px solid var(--verndale-gray);
    color: var(--verndale-black);
    inline-size: 36vw;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 1;
  }
}

.sidenav__items {
  display: flex;
  justify-content: center;
}

.sidenav__item {
  background-color: var(--verndale-black);
  color: var(--white);
  position: static;
  text-align: center;
}

.sidenav__menu-inner {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-between;

  .sidenav__menu-close {
    block-size: 20px;
    inline-size: 20px;
    transform: rotate(45deg);
  }
}
