@use "../core/breakpoints";

.sidenav {
  align-items: center;
  background-color: var(--verndale-black);
  block-size: 80px;
  color: var(--white);
  display: flex;
  font-size: 1.125rem;
  justify-content: space-between;
  overflow-x: clip;
  padding-inline: 32px;
  position: relative;

  @include breakpoints.mq($from: tablet) {
    padding-inline: 80px;
  }
}

.sidenav__logo {
  font-weight: 900;
  position: relative;
  z-index: 2;

  @include breakpoints.mq($from: tablet) {
    z-index: auto;
  }
}

.sidenav__items {
  display: none;
  inline-size: 100%;
  @include breakpoints.mq($from: tablet) {
    display: flex;
    justify-content: space-around;
    padding-inline: 36px;
  }
}

.sidenav__item {
  background-color: var(--verndale-black);
  color: var(--white);
  position: relative;
}

.sidenav__menu-inner {
  block-size: 100%;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-between;
  line-height: 1.2;
  padding: 30px;

  .sidenav__close {
    position: relative;
    z-index: 2;
  }

  .sidenav__menu-close {
    block-size: 20px;
    inline-size: 20px;
    transform: rotate(45deg);
  }

  ul {
    display: flex;
    flex-direction: column;
    font-size: initial;
    justify-content: space-between;
    margin-block-start: 48px;
  }

  li {
    margin-block-start: 24px;
  }
}

.sidenav__inline-menu-item {
  background: var(--verndale-black);
  inline-size: 300px;
  inset-block-start: 100%;
  inset-inline-start: -20px;
  padding: 20px;
  position: absolute;
  z-index: -1;

  li {
    padding-block-end: 20px;
  }
}

.sidenav__side-menu {
  background: var(--white);
  block-size: 100vh;
  box-shadow: 5px 10px 10px #0000000f;
  color: var(--verndale-black);
  inline-size: 36vw;
  inset-block-start: 0;
  inset-inline-start: 0;
  position: absolute;
}

.sidenav__mobile-menu {
  background: var(--verndale-black);
  block-size: 100vh;
  border-inline-end: 1px solid var(--verndale-gray);
  color: var(--white);
  inline-size: 100vw;
  inset-block-start: 0;
  inset-inline-start: 0;
  position: absolute;

  @include breakpoints.mq($from: tablet) {
    display: none;
  }
}

.sidenav__side-trigger {
  display: none;

  @include breakpoints.mq($from: tablet) {
    display: block;
  }
}

.sidenav__mobile-menu-trigger {
  display: block;
  position: relative;
  z-index: 2;

  .btn {
    block-size: 36px;
    border-radius: 50px;
    inline-size: 0;
    min-inline-size: 72px;
    padding: 0;

    .is-mobile-nav-active & {
      color: transparent;
    }
  }
  @include breakpoints.mq($from: tablet) {
    display: none;
  }
}

.sidenav__menu-inner--mobile {
  display: flex;
  flex-direction: column;
  padding-block: 24px;
  padding-block-start: 96px;
  padding-inline: 32px;

  ul {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 24px;
    justify-content: space-between;
  }
}

.is-mobile-nav-active {
  .sidenav__mobile-menu-trigger::after {
    background: var(--verndale-black);
    block-size: 16px;
    content: "";
    inline-size: 1.5px;
    inset-block-end: 10px;
    inset-inline-start: 50%;
    position: absolute;
    transform: rotate(135deg);
  }

  .sidenav__mobile-menu-trigger::before {
    background: var(--verndale-black);
    block-size: 16px;
    content: "";
    inline-size: 1.5px;
    inset-block-end: 10px;
    inset-inline-start: 50%;
    position: absolute;
    transform: rotate(45deg);
  }

  .sidenav__mobile-menu-trigger:hover {
    &::before,
    &::after {
      background-color: var(--white);
    }
  }
}
