<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='{{NameTitleCase}}'}}
</head>
<body>
  <!-- Header -->
  {{>header}}

  <!-- Main Content -->
  <main>

  </main>

  <!-- Footer -->
  {{>footer}}
</body>
</html>
