<animated-element class="header__wrapper animated-opacity" opacity="0,1" translate-y="-100%, 0" duration="2">
  <header class="header">
    <div class="container">
      {{>sidenav}}
    </div>
  </header>
</animated-element>