
<button type="button" class="btn {{animationClass}} {{customClass}}" data-module="animated-button">
  {{label}}
  {{#if icon}}
    <div class="icon-wrapper">
      {{>svg name=icon.name}}
    </div>
  {{/if}}
</button>
