<verndale-anim-element as="div" animScroll stagger>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</verndale-anim-element>