<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Inview Example' showScripts=showScripts}}
</head>
<body>
  <!-- Header -->
  {{>header}}

  <!-- Main Content -->
  <main>
      {{#each items}}
      <div class="demo-container">
        <div class="demo-content">
          {{#if stagger}}
          <animated-element as="div" anim="{{animation}}" {{#if stagger}}stagger={{stagger}}{{/if}}>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
          </animated-element>
          {{else}}
          <animated-element  as="div" anim="{{animation}}" class="square"/>
          {{/if}}
        </div>
      </div>
      {{/each}}
  </main>

  <!-- Footer -->
  {{>footer showScripts=showScripts}}
</body>
</html>
