<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Inview Example' showScripts=showScripts}}
</head>
<body>
  <!-- Header -->
  {{#with sideNav}}
    {{>header}}
  {{/with}}

  <!-- Main Content -->
  <main>
       {{>masthead}}
       {{>cta-module}}
       {{>cards-grid}}
       {{>sticky-module}}
  </main>

  <!-- Footer -->
  {{>footer showScripts=showScripts}}
</body>
</html>
