<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Parallax Example' showScripts=showScripts}}
</head>
<body>
  <!-- Header -->
  {{>header}}

  <!-- Main Content -->
  <main>
      {{#each pictures}}
        <animated-element as="div" scrolling wrapper anim="{{animation}}" class="overflow-hidden" inview-offset="{{../offset}}">
            {{>picture}}
        </animated-element>
      {{/each}}
  </main>

  <!-- Footer -->
  {{>footer showScripts=showScripts}}
</body>
</html>
