@use "../core/breakpoints";

.overflow-hidden {
  overflow: hidden;
}

.fit-content {
  inline-size: fit-content;
}

.parallax-picture {
  transform: scale(1.5);
}

.inview-section {
  block-size: 100vh;
  font-weight: 700;
  overflow: hidden;
  padding: 50px;

  h2 {
    inline-size: fit-content;
    transform-origin: center;
  }

  &.gold {
    background-color: var(--primary-gold);
    color: var(--verndale-black);
  }

  &.purple {
    background-color: var(--primary-purple);
    color: var(--white);
  }
}

.demo-content {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  inline-size: 290px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.demo-container {
  align-items: center;
  border-block-end: 1px solid rgba(0, 0, 0, 0.65);
  cursor: pointer;
  display: flex;
  inline-size: 100%;
  justify-content: center;
  min-block-size: 200px;
  padding-block-start: 35px;
  position: relative;
  z-index: 1;
}

.square,
.circle {
  background-color: var(--primary-gold);
  block-size: 28px;
  font-size: 14px;
  inline-size: 28px;
  margin: 1px;
  pointer-events: none;
  position: relative;
}

.parallax__image {
  transform-origin: center;

  &--translate {
    scale: 1.2;
  }
}

.parallax-demo__container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  :nth-child(even) {
    align-self: flex-end;
  }
}

.masthead-text *,
.section-text * {
  font-size: 40px;
  line-height: 1;
  margin-block: 0;
  padding-block: 0;

  @include breakpoints.mq(tablet) {
    font-size: 60px;
  }

  @include breakpoints.mq(tabletLandscape) {
    font-size: 200px;
  }
}

.masthead-text {
  inset-block-end: 10vh;
  color: var(--white);
  position: absolute;
}

.section-text {
  color: var(--verndale-black);
}

.masthead {
  background-color: var(--primary-purple);
  block-size: 100vh;
  overflow: hidden;
  position: relative;
}

.masthead-background__image-container {
  inset-inline-start: 50%;
  position: absolute;
  inset-block-start: 16.5vh;
  transform-origin: top;
  inline-size: 39.4666666667vw;

  &::before {
    content: "";
    display: block;
    padding-block-start: 208.4459459459%;
  }

  img {
    block-size: 100%;
    inset: 0;
    position: absolute;
    inline-size: 100%;
  }
}

.masthead-background__image {
  inline-size: 100%;
  inset: 0;
  position: absolute;
}

.animated-opacity {
  opacity: 0;
}

.content-section {
  background-color: var(--white);
  padding-block: 100px;
  position: relative;
  z-index: 1;
}

.inview-example__animated-square {
  background-color: var(--primary-gold);
  block-size: 10vh;
  inline-size: 10vh;
  margin-block-start: 100px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  gap: 50px;
}

.block {
  display: block;
  transform-origin: center center;
}

.inline-block {
  display: inline-block;
}

.secondary-text {
  font-size: 30px;
}

.rounded {
  border-radius: 10px;
}
