.overflow-hidden {
  margin-block: 100px;
  max-inline-size: 500px;
  overflow: hidden;

  &:nth-child(odd) {
    margin-inline-start: auto;
  }

  &:nth-child(even) {
    margin-inline-end: auto;
  }
}

.parallax-picture {
  transform: scale(2);
}

.inview-section {
  block-size: 100vh;
  font-weight: 700;
  padding: 50px;

  & > * {
    opacity: 0;
  }

  &.gold {
    background-color: var(--primary-gold);
    color: var(--verndale-black);
  }

  &.purple {
    background-color: var(--primary-purple);
    color: var(--white);
  }
}

.demo-content {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  justify-content: center;
  position: relative;
  text-align: center;
  inline-size: 290px;
}

.demo-container {
  align-items: center;
  border-block-end: 1px solid rgba(0, 0, 0, 0.65);
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-block-size: 200px;
  padding-block-start: 35px;
  position: relative;
  inline-size: 100%;
  z-index: 1;
}

.shadow {
  opacity: 0.2;
  position: absolute;
}

.square,
.circle {
  background-color: var(--primary-gold);
  font-size: 14px;
  block-size: 28px;
  margin: 1px;
  pointer-events: none;
  position: relative;
  inline-size: 28px;
}

.parallax__image {
  transform-origin: center;

  &--translate {
    scale: 1.25;
  }
}
