<section class="cards-grid">
  <div class="cards-grid__container container">
    <div class="row">
      <animated-timeline class="col-md-4 cards-grid__card" amount-visible="0.75">
        <animated-element opacity="1" class="animated-opacity cards-grid__image-wrapper">
          <animated-element
            class="cards-grid__image"
            scrub
            translate-y="-50px, 50px"
            start-offset="start end"
          >
            <img
              class="animated-parallax-picture"
              src="images/data_center.png"
              width="545"
              height="370"
              alt=""
            />
          </animated-element>
        </animated-element>
        <animated-element
          opacity="1"
          translate-y="50px, 0"
          class="animated-opacity cards-grid__description-wrapper"
        >
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, hic nostrum. Odio
            inventore velit sit minima totam quidem eius consectetur deleniti, aperiam architecto
            repellendus sequi alias laborum debitis quas modi.
          </p>
        </animated-element>
        {{>animated-button animationClass="sweep-anim" customClass="cards-grid__cta" label="Read more"}}
      </animated-timeline>
      <animated-timeline class="col-md-4 cards-grid__card" amount-visible="0.75" delay="0.5">
        <animated-element opacity="1" class="animated-opacity cards-grid__image-wrapper">
          <animated-element
            class="cards-grid__image"
            scrub
            translate-y="-50px, 50px"
            start-offset="start end"
          >
            <img
              class="animated-parallax-picture"
              src="images/data_center.png"
              width="545"
              height="370"
              alt=""
            />
          </animated-element>
        </animated-element>
        <animated-element
          opacity="1"
          translate-y="50px, 0"
          class="animated-opacity cards-grid__description-wrapper"
        >
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, hic nostrum. Odio
            inventore velit sit minima totam quidem eius consectetur deleniti, aperiam architecto
            repellendus sequi alias laborum debitis quas modi.
          </p>
        </animated-element>
        {{>animated-button animationClass="sweep-anim" customClass="cards-grid__cta" label="Read more"}}
      </animated-timeline>
      <animated-timeline class="col-md-4 cards-grid__card" amount-visible="0.75" delay="0.75">
        <animated-element opacity="1" class="animated-opacity cards-grid__image-wrapper">
          <animated-element
            class="cards-grid__image"
            scrub
            translate-y="-50px, 50px"
            start-offset="start end"
          >
            <img
              class="animated-parallax-picture"
              src="images/data_center.png"
              width="545"
              height="370"
              alt=""
            />
          </animated-element>
        </animated-element>
        <animated-element opacity="1" translate-y="50px, 0" class="animated-opacity cards-grid__description-wrapper">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, hic nostrum. Odio
            inventore velit sit minima totam quidem eius consectetur deleniti, aperiam architecto.
          </p>
        </animated-element>
       {{>animated-button animationClass="sweep-anim" customClass="cards-grid__cta" label="Read more"}}
      </animated-timeline>
    </div>
  </div>
</section>