<section class="sticky-module background">
  <div class="container">
    <div class="row">
      <div class="sticky-module__sticky-column col-md-6">
        <animated-element opacity="1" class="animated-opacity">
          <animated-element
            class="sticky-module__animated-square"
            opacity="0, 1"
            translate-x="200%, 0"
            scale="0.5, 1"
            rotate="45deg"
            times="0.5, 0.5, 1"
          >
          </animated-element>
          <h1 class="section-text">Experience is Everything</h1>
        </animated-element>
      </div>
      <div class="col-md-6 sticky-module__mockups-container">
        <animated-element scale="1" class="sticky-module__image-wrapper" amount-visible="1">
          <animated-element
            scrub
            translate-y="-150px, 150px"
            class="sticky-module__image"
            start-offset="start end"
          >
            <img
              class="sticky-module__parallax-picture"
              src="images/mobile-mockups/phone_1-removebg.png"
              width="545"
              height="775"
              loading="lazy"
              alt=""
            />
          </animated-element>
        </animated-element>
        <animated-element scale="1" class="sticky-module__image-wrapper" amount-visible="1">
          <animated-element
            scrub
            translate-y="-150px, 150px"
            class="sticky-module__image"
            start-offset="start end"
          >
            <img
              class="sticky-module__parallax-picture"
              src="images/mobile-mockups/phone_1-removebg.png"
              width="545"
              height="775"
              loading="lazy"
              alt=""
            />
          </animated-element>
        </animated-element>
        <animated-element scale="1" class="sticky-module__image-wrapper" amount-visible="1">
          <animated-element
            scrub
            translate-y="-150px, 150px"
            class="sticky-module__image"
            start-offset="start end"
          >
            <img
              class="sticky-module__parallax-picture"
              src="images/mobile-mockups/phone_1-removebg.png"
              width="545"
              height="775"
              loading="lazy"
              alt=""
            />
          </animated-element>
        </animated-element>
      </div>
    </div>
  </div>
</section>